.btn {
    font-weight: 500;
    color: $white;
    padding: 0 20px;
    font-size: 1rem;
    height: 52px;
    line-height: 53px;
    border-radius: 0;
    min-width: 140px;
    border-color: transparent;
    cursor: pointer;
    position: relative;

    &-primary {
        // background-color: $primary-color;
        background-color: $theme-color;
        margin-bottom:20px;
    }

    &:not([href]):not([tabindex]),
    &:hover:not([href]):not([tabindex]) {
        color: $white;
    }

    &:hover {
        background-color: $mask-color;
        border-color: transparent;
        color: $white;
    }
}

// .btn{
//   position: relative;
//   width: auto;
//   min-width: 120px;
//   padding: 10px;
//   text-align: center;
//   color: #fff;
//   background: #00d463;
//   cursor: pointer;
//   border-radius: 4px;
//   border: none;
// }

.btn:after,.btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: $theme-color;
  z-index:-2;
}

.btn:hover{
  z-index:1;
  background:transparent;
}

.btn:before {
  transition: .6s;
  // background: #14ae5c;
  z-index:-1;
  background-color: $mask-color;
  border-color: transparent;
  color: $white;
}

.btn:hover:after,.btn:hover:before {
  width: 100%;
}
